assetbundles/
data/art/
data/audio/
data/conversations
data/design
data/fogofwar
data/quests/
Managed/
Mono/
Plugins/
Resources/
level*
*.assets
*.resS
mainData
PlayerConnectionConfigFile
ScreenSelector.png

*.git

# Temp files verschiedener programme
*.swp
*.tmp
*.*~

# Pakete unseres Helpers
*.zip
*.7z

# wir sind die deutsche Version, und haben einen eigenen Ordner, also ignoriere alle Sprachen
data/localized/de/
data/localized/en/
data/localized/es/
data/localized/fr/
data/localized/it/
data/localized/pl/
data/localized/ru/

data_expansion1/localized/de/
data_expansion1/localized/en/
data_expansion1/localized/es/
data_expansion1/localized/fr/
data_expansion1/localized/it/
data_expansion1/localized/ko/
data_expansion1/localized/pl/
data_expansion1/localized/ru/
